.button{
    background-color: #246337;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 29%
}

.button2{
    background-color: #ee2626;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: auto;
    
}

.nombre{
    font-size: 20px;
    color: #393d3a;
    font-weight: bold;
    padding-bottom: 0px;
    text-align: center;
}

.text1{
    font-size: 22px;
    color: #393d3a; 
    text-align: center;
    margin: 10px;
}

.titre{
    font-size: 30px;
    color: #393d3a; 
    text-align: center; 
    margin-bottom: 50px; 
}

.container{
    position: absolute;
    padding: 10px;
    margin: 10px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 25%;
    margin-left: 37.5%;
    margin-top: 410px; 
}

.operation{
    padding: 20px;
    margin-bottom: -30px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 75%;
    margin-left: 10%;
    justify-content: center;
}


.container2{
    padding: 10px;
    margin: 10px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 30%;
    position: absolute;
    margin-left: 35%;
    margin-bottom: 10%;   
}

.liste{
    position: absolute;
    padding: 10px;
    margin: 10px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #EEE5C4;
    width: 30%;
    margin-left: 35%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.button3{
    background-color: #b48225;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px ;
    cursor: pointer;
    border-radius: 10px;
    width: 18%;
    height: 90px;
}

.text2{
    font-size: 17px;
    color: #393d3a; 
    text-align: right; 
    font-weight: bold; 
    margin-top: 50px; 
}

.panier{
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #EEE5C4;
    margin-left: 67%;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.icon {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.delete-button {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: -15px;
    background: none;
    border: none;
    cursor: pointer;
}

.total-container{
    display: flex; 
    justify-content: center; 
}

.text-prix {
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

.button-erase{
    background-color: #ee2626;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: auto;
    height : 35px;
    position: flex;
    margin-top: 40px;
    margin-left: -350px;
}

.items{
    border-radius: 10px;
    width: 45%;
    margin-left: 27.5%;
    margin-bottom: -15px;
    margin-top: -18px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.film-details{
    width: 40%;
    justify-content: center;
    text-align: center;
    flex: wrap;
}

.film-list{
    margin-left: 30%;
    width: 30%;
    text-align: center;
    justify-content: center;
    flex: wrap;
}

.film-button{
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.film-button:hover{
    text-decoration: underline;
}

.film{
    padding: 10px;
    margin: 10px;
    margin-top: -77px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 32.5%;
    text-align: center;
    position: absolute;
    

}

.resume{
    margin-left: 15px;
    margin-right: 15px;
}

.table-container {
    margin-left: 10%; 
    width: 100%;
    margin-bottom: 20px;
    text-align: center;  
}

