.button{
    background-color: #246337;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 29%
}

.button2{
    background-color: #ee2626;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: auto;
    
}

.nombre{
    font-size: 20px;
    color: #393d3a;
    font-weight: bold;
    padding-bottom: 0px;
    text-align: center;
}

.text1{
    font-size: 22px;
    color: #393d3a; 
    text-align: center;   
}

.titre{
    font-size: 30px;
    color: #393d3a; 
    text-align: center;  
}

.container{
    padding: 10px;
    margin: 10px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 25%;
    margin-left: 37.5%;
    margin-bottom: 20px;
    
    
}

.operation{
    padding: 20px;
    margin-bottom: -30px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 75%;
    margin-left: 10%;
    justify-content: center;
}


.container2{
    padding: 10px;
    margin: 10px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 30%;
    position: absolute;
    margin-left: 35%;
    padding-bottom: 25px;
    
    
}

.liste{
    padding: 20px;
    border: 1px solid #393d3a;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 75%;
    margin-left: 10%;
    justify-content: center;
}

.button3{
    background-color: #377088;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 22%;
    
}

.button3 :hover{
    background-color: #246337;
}

.text2{
    font-size: 17px;
    color: #393d3a; 
    text-align: center;   
}

.panier{
    padding: 10px;
    margin-bottom: -30px;
    width: 40%;
    margin-left: 10%;
    margin-top: 15px;
    justify-content: center;
}

