
/*Style du body*/
.body {
    background-color: #ffe3b3; 
}

/* Boutons remonter en haut et descendre */
.scroll-top-button {
    position: fixed;
    bottom: 70px;
    right: 40px;
    width: 70px;
    height: 70px;
    background: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 999; 
}
/* Style au survol */
.scroll-top-button:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}
.top-arrow{
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}
.scroll-down-button {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 70px;
    height: 70px;
    background: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 999; 
}
/* Style au survol */
.scroll-down-button:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}
.down-arrow{
    display: block;
    margin: auto;
    width: 75%;
    height: 75%;
}




/*Style du logo Pokémon*/
.pokemon-logo{
    width: 30%;
    height: 15%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}




/*Style barre de recherche*/
input[type=text] {
    width: 13.5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('images/icons-pokedex.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding: 8px 20px 8px 50px;
    transition: width 0.4s ease-in-out;
    display: block;
    margin: 0 auto;
  }  
input[type=text]:focus {
    width: 17%;
  }
.search-pokemon{
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 22px;
    text-align: center;
}
.text-search{
    margin-bottom: 10px;
    font-size: 25px;
}




/* Style cartes Pokémon */
.pokemonDiv {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    text-align: center;
}
.pokemon-card {
    display: inline-block;
    border: 1px solid #4b4b4b;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-bottom: 20px;
    width: 250px; 
    box-sizing: border-box;
    box-shadow:  5px 5px 10px #000000;
    text-align: center;
    background-image: url('images/pokeball-ouverte.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 20%;
    background-position-y: 45%;
    cursor: pointer; 
}
.pokemon-card.hidden {
    display: none; /* Pour cacher les cartes  */
}
.pokemon-card:hover {
    transform: scale(1.03); 
    transition: transform 0.2s;
    background-color: #e8f4d5;
}
.pokemon-img {
    width: auto;
    height: auto;
    margin-top: 8%;
    margin-bottom: 8%;
}
.card-title {
    text-align: center;
    margin-top: -3%;
    margin-bottom: 10%;
}
.card-title2 {
    margin-top: -1%;
    font-size: 17px;
    display: flex;
    justify-content: center;
}
.card-text {
    margin-bottom: 3px;
    width: 100%;
    font-size: 15px;
}
.card-id {
    font-size: 13px;
    margin-left: 3%;
    margin-top: 3%;
}
.card-pv{
    font-size: 13px; 
    margin-right: 3%;
    margin-top: 3%;
}
.id-pv-container {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments */
}
.type-box {
    width: 25%;
    height: 10%;
    text-align: center;
}



/* Styles spécifiques aux types de Pokémon */
.type{
    font-weight: bold;
    margin-top: 25px;
}
.Feu {
    background-color: #fd7d24; 
}
.Poison {
    background-color: #b97fc9; 
}
.Eau {
    background-color: #4592c4; 
}
.Plante {
    background-color: #9bcc50; 
}
.Electric {
    background-color: #eed535; 
}
.Glace {
    background-color: #51c4e7; 
}
.Combat {
    background-color: #d56723; 
}
.Psy {
    background-color: #f366b9; 
}
.Vol {
    background: linear-gradient(155deg, #3dc7ef 50%, #bdb9b8 50%); 
}
.Insecte {
    background-color: #729f3f;
}
.Roche {
    background-color: #a38c21; 
}
.Spectre {
    background-color: #7b62a3; 
}
.Dragon {
    background: linear-gradient(155deg, #53a4cf 50%, #f16e57 50%);; 
}
.Ténèbres {
    background-color: #707070; 
}
.Acier {
    background-color: #9eb7b8; 
}
.Fée {
    background-color: #fdb9e9; 
}
.Normal {
    background-color: #a4acaf; 
}
.Sol {
    background: linear-gradient(155deg, #f7de3f 50%, #ab9842 50%);   
}
.type-box {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
}


/* Style de la carte détaillée */
.show-detailed-card {
    display: block;
    position: absolute;
    width : 30%;
    height : 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 2px solid black;
    padding: 20px;
    background-color: #f7eedf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card-title-hidden {
    margin-top: -12px;
}
.card-title2-hidden {
    margin-top: -10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.card-id-hidden {
    font-size: 20px;
    text-align: center;
}
.pokemon-img-hidden {
    display: block; 
    margin-left: 20%; 
    margin-top: -20%;
    margin-bottom: 40%;
    transform: scale(170%);
}
.card-description-hidden {
    margin-left: 20%;
    margin-right: 1%;
}
.card-text-hidden {
    margin-bottom: 5%;
    width: 100%;
    font-size: 15px;
}
.card-pv-hidden{
    font-size: 20px; 
}
.pokemon-details-hidden {
    display: flex;
    align-items: center;
}
.pokemon-img-container-hidden {
    margin-top: 7.5%; 
    margin-left: 7.5%;

}
.pokemon-titre-container-hidden{
    display: flex;
}
.id-pv-container-hidden {
    display: block;
    margin: auto;
}
.pokemon-info-hidden {
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    background-color: #e8f4d5;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.closeButton {
    margin-top: -70px;
    background: none;
    border: none;
    cursor: pointer;
}
.closeButton-icon {
    width: 30px;
    height: 30px;    
}
.closeButton:hover {
    transform: scale(1.2); 
    transition: transform 0.2s;
}
.pokemon-info-hidden{
    display: flex;
}
.stat-container {
    flex: 1;
}
.stat-title {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: bold;
}
.stat {
    display: flex;
    margin-top: -6%;
}
.infos-container {
    flex: 1;
}
.infos-titre {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 35%;
}
.infos {
    display: flex;
    text-align: center;
}
.infos > div {
    flex: 1;
    margin:  5px; /* Ajoute des marges horizontales de 5px entre les éléments */
}
.type-hidden{
    display: flex;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
}
.type-box-hidden {
    width: 35%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin-inline: 3%;
}






