
/*Style du body*/
.body {
    background-color: #ffe3b3; 
}




/*Style du logo Pokémon*/
.pokemon-logo{
    width: 30%;
    height: 15%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}




/*Style barre de recherche*/
input[type=text] {
    width: 13.5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('images/icons-pokedex.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding: 8px 20px 8px 50px;
    transition: width 0.4s ease-in-out;
    display: block;
    margin: 0 auto;
  }  
input[type=text]:focus {
    width: 17%;
  }
.search-pokemon{
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 22px;
    text-align: center;
}
.text-search{
    margin-bottom: 10px;
    font-size: 25px;
}
datalist {
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    max-height: 200px; /* Hauteur maximale */
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
    background-color: white; /* Fond blanc */
}

/* Style des options du menu déroulant */
datalist option {
    padding: 5px; /* Espacement intérieur */
    cursor: pointer; /* Curseur en main au survol */
}

/* Style des options sélectionnées */
datalist option:checked {
    background-color: #f0f0f0; /* Fond gris clair pour l'option sélectionnée */
}



/* Style cartes Pokémon */
.pokemonDiv {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    text-align: center;
}
.pokemon-card {
    display: inline-block;
    border: 1px solid #4b4b4b;
    border-radius: 5%;
    margin-left: 0.5%;
    margin-bottom: 20px;
    width: 250px; 
    box-sizing: border-box;
    box-shadow:  5px 5px 10px #000000;
    text-align: center;
    background-image: url('images/pokeball-ouverte.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 35px;
    background-position-y: 65px;
    cursor: pointer; 
}
.pokemon-card.hidden {
    display: none; /* Pour cacher les cartes  */
}
.pokemon-card:hover {
    transform: scale(1.03); 
    transition: transform 0.2s;
    background-color: #e8f4d5;
}
.pokemon-img {
    width: auto;
    height: auto;
}
.card-title {
    text-align: center;
    margin-top: -12px;
}
.card-text {
    margin-bottom: 3px;
    width: 100%;
    font-size: 15px;
}
.card-id {
    font-size: 13px;
    margin-left: 3%;
}
.card-pv{
    font-size: 13px; 
    margin-right: 3%;
}
.id-pv-container {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments */
}




/* Styles spécifiques aux types de Pokémon */
.type{
    font-weight: bold;
    margin-top: 25px;
}
.fire {
    background-color: #fd7d24; 
}
.poison {
    background-color: #b97fc9; 
}
.water {
    background-color: #4592c4; 
}
.grass {
    background-color: #9bcc50; 
}
.electric {
    background-color: #eed535; 
}
.ice {
    background-color: #51c4e7; 
}
.fighting {
    background-color: #d56723; 
}
.psychic {
    background-color: #f366b9; 
}
.flying {
    background: linear-gradient(155deg, #3dc7ef 50%, #bdb9b8 50%); 
}
.bug {
    background-color: #729f3f;
}
.rock {
    background-color: #a38c21; 
}
.ghost {
    background-color: #7b62a3; 
}
.dragon {
    background: linear-gradient(155deg, #53a4cf 50%, #f16e57 50%);; 
}
.dark {
    background-color: #707070; 
}
.steel {
    background-color: #9eb7b8; 
}
.fairy {
    background-color: #fdb9e9; 
}
.normal {
    background-color: #a4acaf; 
}
.ground {
    background: linear-gradient(155deg, #f7de3f 50%, #ab9842 50%);   
}
.ghost {
    background-color: #4b0082; 
}
.type-box {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
}


/* Style de la carte détaillée */
.show-detailed-card {
    display: block;
    position: absolute;
    width : 30%;
    height : 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Pour s'assurer qu'elle est au premier plan */
    border: 2px solid black;
    padding: 20px;
    background-color: #f7eedf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pokemon-img-hidden {
    display: block; 
    margin-left: 20%; 
    margin-top: 10%;
    margin-bottom: 15%;
    transform: scale(1.8);
}
.card-title-hidden {
    margin-top: -12px;
}
.card-text-hidden {
    margin-bottom: 3px;
    width: 100%;
    font-size: 15px;
}
.card-id-hidden {
    font-size: 20px;
    text-align: center;
}
.card-pv-hidden{
    font-size: 20px; 
}
.pokemon-details-hidden {
    display: flex;
    align-items: center;
}
.pokemon-img-container-hidden {
    margin-top: 7.5%; 
    margin-left: 7.5%;

}
.pokemon-titre-container-hidden{
    display: flex;
}
.id-pv-container-hidden {
    display: block;
    margin: auto; /* Pour espacer les éléments */
}
.pokemon-info-hidden {
    flex: 1; /* Prend autant d'espace que possible */
    padding-left: 20px; /* Espacement entre l'image et les détails */
}
.closeButton {
    margin-top: -30px;
    background: none;
    border: none;
    cursor: pointer;
}
.closeButton-icon {
    width: 30px;
    height: 30px;    
}
.closeButton:hover {
    transform: scale(1.1); 
    transition: transform 0.2s;
}



